.user{
	margin-bottom: 0px !important;
}
.dropdown-menu{
	left: 25% !important;
}
.bg-custom{
	background-color: #3f51b5; 
	color: #fff !important;
	/*border-color: red;*/
}
.bg-custom:hover{
	background-color: #3f51b5 !important; 
	color: #fff !important;
    border-color: white !important;
}
.info{
	margin: 10px 0 10px;
}
.custom{
	border-bottom: 0px !important;
}
hr{
	border-width: 3px;
}
.thead-custom{
	background-color: #6573c3;
	opacity: 0.8;
}
.thead-custom th{
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.card-body{
	padding-top: 5px !important;
	padding-bottom: 1px !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
};
.bg-custom{
	background-color: #9fa8da;
}
.prev{
	margin-bottom: 10px;
	margin-top: 10px;
}
@media only screen and (max-width:52.06rem) {
	.prev{
		margin-bottom: 10px !important;
		margin-top: 10px !important;
	}
}
a:not([href]):not([tabindex]) {
     color: white !important; 
    text-decoration: none;
}
.scroll-to-top{
	margin-left: 25%;
}
@media only screen and (max-width:52.06rem) {
	.scroll-to-top{
			margin-left: 4% !important;
		}
	.float-right{
			margin-top: 2% !important;
	}
}
.change_color{
	color: #dc3545!important;
}